{% extends "base.html" %}
{% block title %}La Comunidad{% endblock title %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type='text/css' href="{% static 'css/sayan.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'css/fontawesome-all.min.css' %}">
{% endblock css %}

{% block content %}
    <div class="titulos">
        <h1>La Comunidad</h1>
    </div>
    <div class="container-fluid div-comunidad">
        <div class="row">
            <div class="col-12 col-xl-12">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                {% for comu1 in comu %}
                    <li class="nav-item">
                        <a class="nav-link link-comunidad" id="pills-{{comu1.titulo}}-tab" data-toggle="pill" href="#pills-{{comu1.titulo}}" role="tab" aria-controls="pills-{{comu1.titulo}}" aria-selected="true">{{comu1.titulo}}</a>
                    </li>
                {% endfor %}
                </ul>
                <div class="tab-content" id="pills-tabContent">
                {% for comu2 in comu %}
                    <div class="tab-pane fade show" id="pills-{{comu2.titulo}}" role="tabpanel" aria-labelledby="pills-{{comu2.titulo}}-tab">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-xl-6">
                                <p>{{comu2.cuerpo}}</p>
                            </div>
                            <div class="col-12 col-sm-12 col-xl-6 imagen-comunidad">
                                <img src="{{comu2.imagen.url}}" alt="">
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>

{% endblock js %}