@media (min-width: 1200px){
    .logo{
        display: flex;
        justify-content: center;
    }
    .inicio{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .menu{
        background: #48c671;
        padding: 1rem !important;
        width: 88% !important;
    }
    .enlaces{
        color: white;
        font-size: 1.5rem;
        padding: 1rem;
    }
    .enlaces:hover{
        text-decoration: none;
        color: black;
    }
    .menu-responsive{
        justify-content: center; !important;
    }
    .centrar-texto{
        display: flex;
        justify-content: center;
    }
    .imagen-index{
        height: 500px;
        display: flex;
        justify-content: center;
    }
    .imagen-index img{
        height: 100%;
    }
    .pie{
        background: #48c671;
        padding-top: 1rem;
        padding-bottom: 1rem;
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
}
@media (max-width: 320px){
    .logo{
        display: flex;
        justify-content: center;
    }
    .inicio{
        margin-top: 2rem;
    }
    .menu{
        background: #48c671;
    }
    .menu a{
        color: white;
        font-size: 1.5rem;
        padding: 1rem;
    }
    .menu-responsive{
        justify-content: left !important;
        display: block !important;
    }
}